@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins:ital,wght@0,400;0,700;1,100&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.container {
    padding: 1em;
    margin: 0 5em;

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .brand-logo {
            font-weight: bold;
            font-size: 32px;
        }

        .nav-container {
            display: flex;
            flex-direction: row;
            width: 60vw;
            justify-content: space-between;
            align-items: center;
        }

        .search-bar {
            input {
                padding: 0.5em;
                padding-right: 3em;
                width: 30em;
            }
            i {
                margin-left: -1.5em;
            }
        }

        .profile-info {
            display: flex;
            align-items: center;
            .profile-image {
                img {
                    border-radius: 50%;
                    height: 4em;
                    width: 4em;
                }
            }
            .profile-name {
                font-weight: bold;
                padding: 0 0.5em;
            }
        }
    }

    .hero {
        display: flex;
        margin-top: 1em;
        .center-hero {
            height: 100vh;
            width: 30em;
            background-color: grey;
            margin: 0 1em;
            margin-left: 20%;
        }
    
        .side-hero {
            height: 80vh;
            width: 26em;
            background-color: grey;
            margin-left: 5em;
        }
    }
}

@media (max-width: 980px) {
    .container {
        .navbar {
            .brand-logo {
                font-size: 22px;
            }

            .nav-container {
                width: 50vw;
                .search-bar {
                    input {
                        padding: 0.5em;
                        padding-right: 3em;
                        width: 15em;
                        margin-left: 1.5em;
                    }
                }

                .profile-info {
                    margin-left: 0em;
                    .profile-image {
                        img {
                            border-radius: 50%;
                            height: 3em;
                            width: 3em;
                        }
                    }
                }
            }
        }

        .hero {
            .center-hero {
                margin-left: 5%;
            }

            .side-hero {
                margin-left: 0em;
            }
        }
    }
}

@media (max-width: 680px) {
    .container {
        padding: 1em;
        margin: 0em;

        .navbar {
            .brand-logo {
                font-size: 22px;
            }

            .nav-container {
                display: flex;
                justify-content: end;
                .search-bar {
                    display: none;
                }

                .profile-info {
        
                    .profile-image {
                        img {
                            margin-top: 0.5em;
                            border-radius: 50%;
                            height: 3em;
                            width: 3em;
                        }
                    }
                }
            }
        }

        .hero {
            flex-direction: column;
            .center-hero {
                margin: 0% auto;
                width: 95%;
            }

            .side-hero {
                margin: 0 auto;
                margin-top: 0.5em;
                width: 95%;
            }
        }
    }
}

@media (max-width: 500px) {
    .profile-info {
        .profile-name {
            display: none;
        }
    }
}